*{  
    margin-right: auto;
    margin-left: auto;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;}

.card-text{
    color: rgb(38, 149, 201);
    margin-left: 10px;
   
    display: inline;
    font-size: medium;
}

img.course-logo{
    display: inline; 
    float: left; 
}

.card-title{
    margin-left: 55px;
    font-weight: bold;
}

.card{ 
    border-radius: 35px;
    border-inline-width: 4px;
    /* border-inline-color: #6bbdc9; */
}
.card-icon{
    display: inline;
    color: aqua;
    margin-left: 15px;
    margin-bottom: 5px;
}

.card-img-top{border-radius: 12%;
}

